<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bar.css">
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <img style=" width:280px; height:240px; border-radius: 15px;" src="../static/robot.png">
    </center>
    <div class="bottom_menu">
        <div>
            <img src="../static/temp.png">
        </div>
        <div>
            <img style=" width: 40px; height: 40px;" src="../static/water.png">
        </div>
        <div>
            <img style=" width: 40px; height: 38px;" src="../static/monji.PNG">
        </div>
        <div>
            <img style=" width: 32px; height: 37px;" src="../static/sodock.png">
        </div>
    </div>
</body>

</html>